.topo {
	padding: 5px;
}
.topo-left {
	float: left;
	margin-top: 10px;
}
.topo-right {
	float: right;
}
.clear {
	clear: both;
}
.todos-produtos {
	margin-left: 10px;
}
.produto {
	clear: both;
	margin-top: 10px;
	float: left;
}
.img-produto {
	width: 50px;
	height: 50px;
	float: left;
}
.titulo-produto {
	float: left;
}
.img-bandeiras {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 30px;
	width: 50px;
}
.rodape-right {
	float: right;
	margin-right: 10px;
}
.add {
	margin-top: 10px;
	height: 30px;
	color: white;
	background-color: orange;
}
.remove {
	margin-top: 10px;
	height: 30px;
	color: white;
	background-color: red;
}
.pedido {
	width: 100%;
	height: 30px;
	background-color: gray;
	color: white;
}
.pedido-text {
	margin-left: 3%;
}
.selected {
	border: solid;
	border-color: white;
}